.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
.btn {
  background: var(--cor-p1);
  display: inline-block;
  margin: 20px 0;
  padding: 20px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  color: var(--cor-p5);
  box-shadow: 0 1 2px rgba(0, 0, 0, 0.2);
  max-width: max-content;
}

.btn:hover {
  background: var(--cor-p2);
}

.btn.secundario {
  background: var(--cor-10);
  color: var(--cor-2);
}
.btn.secundario:hover {
  background: var(--cor-9);
}

@media (max-width: 800px) {
  .btn {
    padding: 15px 25px;
    font-size: 0.875rem;
  }
}
