.tecnologia-bg{
    background: var(--cor-12);
}

.tecnologia{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    transition: 1s;
}
.tecnologia-items h3{
      margin: 30px 0;
 }

.tecnologia-items p{
    margin-bottom: 50px;
}
.tecnologia-items a{
    padding:10px 0px;
    text-decoration: underline;
}

.tecnologia a:hover{
    color: var(--cor-0);
}
.tecnologia-informacoes{
    margin-top: 50px;
    display: flex;
    gap: 0px;
}